.header {
  text-align: center;
  color: red;
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.sidebar {
  width: 25%;
  float: left;
  background-color: blueviolet;
  color: #09cdf0;
  border: dashed 10px rgb(246, 37, 201);
  padding-top: 15px;
  padding-right: 10px;

}

.bar-title {
  text-align: center;
}

.container {
  background-color: greenyellow;
  border-top: solid 5px orange;
  margin-top: 0;
}

.guitar {
  width: 50%;
  height: auto;
  float: right;
  border: solid 20px ivory;
  padding: 10px;
}

